.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    padding: 15px;
}

.socials {
    display: flex;
    margin-right: 70px;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .footer {
        display: none;
    }
}