li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 36px;
    padding: 20px 0px;
    font-family: 'Teko', sans-serif;
}

ul {
    display: flex;
    font-size: 24px;
    gap: 45px;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover {
    opacity: 0.7;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  header {
    display: flex;
    padding: 0px 50px;
    padding-top: 20px;
    justify-content: space-between;
  } 

  .hamburger{
    display: inline;
  }

  .ham a {
    color: black;
  }

  .closeHam {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    font-weight: 700;
    font-size: 30px;
    
  }
}

.ham {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1;
}
